apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Release.Name }}-harvester-run
  annotations:
    argocd.argoproj.io/ignore-healthcheck: "true"
  labels:
    app.kubernetes.io/arch: {{ default "amd64" .Values.arch }}
spec:
  schedule: "0 6-22 * * *"
  suspend: {{ .Values.suspendCronJobs }}
  jobTemplate:
    metadata:
      name: {{ .Release.Name }}-harvester-run
      labels:
        app.kubernetes.io/arch: {{ default "amd64" .Values.arch }}
    spec:
      template:
        metadata:
          name: {{ .Release.Name }}-harvester-run
          labels:
            app.kubernetes.io/arch: {{ default "amd64" .Values.arch }}
        spec:
          containers:
            - name: ckan
              image: '{{ include "docker-uri" (dict "environment" .Values.environment "app" "ckan" "files" $.Files) }}'
              imagePullPolicy: Always
              command: [ ckan, harvester, run ]
              env:
                {{- include "ckan.environment-variables" . | nindent 16 }}
              volumeMounts:
                - name: production-ini
                  mountPath: /config
                  readOnly: true
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop: ["ALL"]
          restartPolicy: OnFailure
          securityContext:
            runAsNonRoot: true
            runAsUser: 900
            runAsGroup: 900
            fsGroup: 900
            seccompProfile:
              type: RuntimeDefault
          volumes:
            - name: production-ini
              configMap:
                name: {{ .Release.Name }}-{{ .Values.ckan.ckanIniConfigMap }}
          {{- if eq "arm64" .Values.arch }}
          tolerations:
            - key: arch
              operator: Equal
              value: {{ .Values.arch }}
              effect: NoSchedule
          nodeSelector:
            kubernetes.io/arch: {{ .Values.arch }}
          {{- end }}
