apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Release.Name }}-pycsw-load
  annotations:
    argocd.argoproj.io/ignore-healthcheck: "true"
  labels:
    app.kubernetes.io/arch: {{ default "amd64" .Values.arch }}
spec:
  schedule: "47 1 * * *"
  suspend: {{ .Values.suspendCronJobs }}
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 2
  successfulJobsHistoryLimit: 2
  jobTemplate:
    metadata:
      name: {{ .Release.Name }}-pycsw-load
      labels:
        app.kubernetes.io/arch: {{ default "amd64" .Values.arch }}
    spec:
      backoffLimit: 0
      activeDeadlineSeconds: 171000  # 171000 s = 47.5 hours.
      template:
        metadata:
          name: {{ .Release.Name }}-pycsw-load
          labels:
            app.kubernetes.io/arch: {{ default "amd64" .Values.arch }}
        spec:
          {{- include "ckan.pycsw-init" . | nindent 10 }}
          restartPolicy: Never
          containers:
            - name: pycsw
              image: '{{ include "docker-uri" (dict "environment" .Values.environment "app" "pycsw" "files" $.Files) }}'
              imagePullPolicy: Always
              command: [ "/bin/sh", "-c", "ckan ckan-pycsw load -p $CKAN_CONFIG/pycsw.cfg -u http://{{ .Release.Name }}-ckan:{{ .Values.ckan.service.port }}" ]
              env:
                - name: PYCSW_CONFIG
                  value: /config/pycsw.cfg
                {{ include "ckan.environment-variables" . | nindent 16 }}
              volumeMounts:
                - name: config
                  mountPath: /config
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop: ["ALL"]
          {{ include "ckan.pycsw-volumes" . | nindent 10 }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 900
            runAsGroup: 900
            fsGroup: 900
            seccompProfile:
              type: RuntimeDefault
          {{- if eq "arm64" .Values.arch }}
          tolerations:
            - key: arch
              operator: Equal
              value: {{ .Values.arch }}
              effect: NoSchedule
          nodeSelector:
            kubernetes.io/arch: {{ .Values.arch }}
          {{- end }}
