# Anyone with write access can merge by default
*

# National Data Library or GOV.UK PE review required
# GitHub Actions workflows and repo config
/.github/ @alphagov/national-data-library @alphagov/gov-uk-platform-engineering
# Helm Charts
/charts/ @alphagov/national-data-library @alphagov/gov-uk-platform-engineering

# Allow changes to non-prod app values
/charts/app-of-apps/values-integration.yaml
/charts/app-of-apps/values-staging.yaml
/charts/app-of-apps/values-ephemeral.yaml
