ckanHelmValues:
  environment: production
  arch: arm64
  ckan:
    appResources:
      limits:
        memory: 4Gi
      requests:
        memory: 3Gi
    args: ["gunicorn -c $CKAN_CONFIG/gunicorn_config.py --bind 0.0.0.0:5000 wsgi:application --timeout 120"]
    replicaCount: 2
    ingress:
      host: ckan.eks.production.govuk.digital
      ingressClassName: aws-alb
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
        alb.ingress.kubernetes.io/shield-advanced-protection: "true"
        alb.ingress.kubernetes.io/ssl-redirect: "443"
        alb.ingress.kubernetes.io/certificate-arn: >
          arn:aws:acm:eu-west-1:172025368201:certificate/b315cd63-5ca1-4c7b-8d3b-914eccc024f8

        alb.ingress.kubernetes.io/load-balancer-attributes: >
          access_logs.s3.enabled=true, access_logs.s3.bucket=govuk-production-aws-logging, access_logs.s3.prefix=elb/ckan-datagovuk

        alb.ingress.kubernetes.io/conditions.{{ .Release.Name }}-ckan: |
          [{"field": "host-header", "hostHeaderConfig": { "values": [
              "ckan.publishing.service.gov.uk"
          ]}}]
        alb.ingress.kubernetes.io/conditions.{{ .Release.Name }}-pycsw: |
          [{"field": "host-header", "hostHeaderConfig": { "values": [
              "ckan.publishing.service.gov.uk"
          ]}}]
      tls:
        enabled: true
    probes:
      enabled: true
    ckanIniConfigMap: ckan-production-ini-2-10
    config:
      dbInit: false
      site:
        url: "https://ckan.publishing.service.gov.uk"
        title: "data.gov.uk"
      dbHost: "ckan-postgres.production.govuk-internal.digital"
      redis:
        host: "dgu-shared-redis"
      smtp:
        server: "email-smtp.eu-west-1.amazonaws.com:587"
        user: "AKIASQDMCZ2E5YSOU63T"
        mailFrom: "team@data.gov.uk"
        starttls: "True"
      s3:
        useIamServiceAccount: true
        bucketName: "datagovuk-production-ckan-organogram"
        regionName: "eu-west-1"
        urlPrefix: "https://s3-eu-west-1.amazonaws.com/datagovuk-production-ckan-organogram/"
    serviceAccount:
      enabled: true
      name: ckan
      iamRoleARN: arn:aws:iam::172025368201:role/ckan-govuk
    nginx:
      denyCrawlers: false
  pycsw:
    replicaCount: 1
    args: ["gunicorn --bind 0.0.0.0:8000 wsgi:application --timeout 120"]
    probes:
      enabled: true
    appResources:
      limits:
        memory: 2Gi
      requests:
        memory: 1Gi
  solr:
    appResources:
      limits:
        memory: 3Gi
      requests:
        memory: 2Gi
    enabled: true
    persistence:
      enabled: true
      persistentVolumeClaimName: solr
  postgres:
    enabled: false
  dev:
    enabled: false
  gather:
    replicaCount: 1
    appResources:
      limits:
        memory: 3Gi
      requests:
        memory: 2Gi
  fetch:
    replicaCount: 1
    appResources:
      limits:
        memory: 2Gi
      requests:
        memory: 1Gi
  externalSecret:
    enabled: true
datagovukHelmValues:
  environment: production
  arch: arm64
  find:
    appResources:
      limits:
        memory: 2Gi
      requests:
        memory: 1Gi
    replicaCount: 2
    args: ["bin/rails s -b 0.0.0.0 --pid /tmp/rails-server.pid"]
    config:
      gaTrackingId: UA-10855508-1
      googleTagManagerId: GTM-M875Q8TH
      rateLimitCount: "100"
      rateLimitPeriod: "60"
      solrUrl: "http://ckan-solr/solr/ckan"
    ingress:
      host: find.eks.production.govuk.digital
      ingressClassName: aws-alb
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
        alb.ingress.kubernetes.io/shield-advanced-protection: "true"
        alb.ingress.kubernetes.io/ssl-redirect: "443"
        alb.ingress.kubernetes.io/load-balancer-attributes: >
          access_logs.s3.enabled=true, access_logs.s3.bucket=govuk-production-aws-logging, access_logs.s3.prefix=elb/www-datagovuk

        alb.ingress.kubernetes.io/conditions.datagovuk-find: |
          [{"field": "host-header", "hostHeaderConfig": { "values": [
              "www.data.gov.uk"
          ]}}]
  dev:
    enabled: false
  externalSecret:
    enabled: true
dguSharedHelmValues:
  arch: arm64
  redis:
    replicaCount: 1
