ckanHelmValues:
  environment: integration
  ckan:
    args: ["gunicorn --bind 0.0.0.0:5000 wsgi:application --timeout 120"]
    ingress:
      host: ckan.eks.integration.govuk.digital
      ingressClassName: aws-alb
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
        alb.ingress.kubernetes.io/ssl-redirect: "443"
      tls:
        enabled: true
    probes:
      enabled: false
    config:
      dbInit: false
      site:
        url: "https://ckan.eks.integration.govuk.digital"
        title: "data.gov.uk"
      dbHost: "ckan-postgres.integration.govuk-internal.digital"
      redis:
        host: "shared-redis-govuk.eks.integration.govuk-internal.digital"
      smtp:
        server: "email-smtp.eu-west-1.amazonaws.com:587"
        user: "AKIATB5RC4XX4VZIWMF7"
        mailFrom: "team@data.gov.uk"
        starttls: "True"
      s3:
        useIamServiceAccount: true
        bucketName: "datagovuk-integration-ckan-organogram"
        regionName: "eu-west-1"
        urlPrefix: "https://s3-eu-west-1.amazonaws.com/datagovuk-integration-ckan-organogram/"
    serviceAccount:
      enabled: true
      name: ckan
      iamRoleARN: arn:aws:iam::210287912431:role/ckan-govuk
  pycsw:
    args: ["gunicorn --bind 0.0.0.0:8000 wsgi:application --timeout 120"]
    probes:
      enabled: true
  solr:
    enabled: true
    persistence:
      enabled: true
      persistentVolumeClaimName: solr
  postgres:
    enabled: false
  redis:
    enabled: false
  dev:
    enabled: false
  gather:
    count: 1
  fetch:
    count: 1
  externalSecret:
    enabled: true

datagovukHelmValues:
  environment: integration
  publish:
    count: 1
    args: ["bundle exec rake db:migrate db:seed && bundle exec sidekiq"]
    probes:
      enabled: false
    config:
      ckanReleaseName: "ckan"
      sqlalchemyUrlSecretKeyRef:
        name: ckan
        key: publish_sqlalchemy_url
      dbHost: ""
      redis:
        host: "shared-redis-govuk.eks.integration.govuk-internal.digital"
        port: "6379"
        db_number: "1"
      org:
        schedule: "*/10 * * * *"

