environment: test

# set to false to disable all app deployments in this chart
appEnabled: true

dev:
  enabled: true

# arch determines whether the app should schedule on amd64 or arm64 nodes.
# TODO: remove `arch` once the ARM migration is complete and we're no longer
# running mixed-arch clusters.
arch: amd64

find:
  replicaCount: 1
  args: ["bin/rails s -b 0.0.0.0 --pid /tmp/rails-server.pid"]
  ingress:
    enabled: true
    host: find.data.gov.uk
    ingressClassName: ""
    annotations:
  config:
    ckanDomain: "ckan.publishing.service.gov.uk"
    solrUrl: "http://ckan-dev-solr/solr/ckan"
    gaTrackingId: ""
    googleTagManagerId: ""
    googleTagManagerAuth: ""
    googleTagManagerPreview: ""
    secretKeyBaseSecretKeyRef:
      name: datagovuk
      key: secret_key_base
    zendeskApiKeySecretKeyRef:
      name: datagovuk
      key: zendesk_api_key
    zendeskUsernameSecretKeyRef:
      name: datagovuk
      key: zendesk_username
    findSentryDsnSecretKeyRef:
      name: datagovuk
      key: find_sentry_dsn

externalSecret:
  enabled: false
  name: datagovuk
  key: govuk/dgu/datagovuk
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore

monitoring:
  enabled: false
  metricsPort: 9394
