apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-redis
spec:
  selector:
    app: {{ .Release.Name }}-redis
  ports:
    - name: redis
      protocol: TCP
      port: 6379
      targetPort: redis
