{{- if .Values.appEnabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-gather
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: {{ .Values.gather.replicaCount }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ .Release.Name }}-gather
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-gather
        app.kubernetes.io/arch: {{ default "amd64" .Values.arch }}
    spec:
      containers:
        - name: harvest-gather
          image: '{{ include "docker-uri" (dict "environment" .Values.environment "app" "ckan" "files" $.Files) }}'
          imagePullPolicy: Always
          volumeMounts:
            - name: production-ini
              mountPath: /config
              readOnly: true
          command: ["/bin/sh", "-c"]
          args: ["ckan harvester gather-consumer"]
          env:
            {{ include "ckan.environment-variables" . | nindent 12 }}
          {{- with .Values.gather.appResources }}
          resources:
            {{- . | toYaml | trim | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
      volumes:
        - name: production-ini
          configMap:
            name: {{ .Release.Name }}-{{ .Values.ckan.ckanIniConfigMap }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 900
        runAsGroup: 900
        fsGroup: 900
        seccompProfile:
          type: RuntimeDefault
      {{- if eq "arm64" .Values.arch }}
      tolerations:
        - key: arch
          operator: Equal
          value: {{ .Values.arch }}
          effect: NoSchedule
      nodeSelector:
        kubernetes.io/arch: {{ .Values.arch }}
      {{- end }}
{{- end }}
