apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-ckan-init
data:
  init.sh: |
    # copy production.ini
    cp /map/production.ini /config

    # copy gunicorn_config.py if it exists as this ConfigMap applies to all environments
    if [ -f /etc/ckan/gunicorn_config.py ]; then
      cp /etc/ckan/gunicorn_config.py /config/gunicorn_config.py
    fi

    # update production.ini
    ckan config-tool $CKAN_INI "beaker.session.secret=$CKAN_BEAKER_SESSION_SECRET"
    ckan config-tool $CKAN_INI "beaker.session.validate_key=$CKAN_BEAKER_SESSION_VALIDATE_KEY"

    {{- if $.Values.dev.enabled }}
    ckan config-tool $CKAN_INI "ckan.mock_harvest_source = http://{{ $.Release.Name }}-static-harvest-source:11088/"
    {{- end }}
    {{- if not $.Values.ckan.config.s3.useIamServiceAccount }}
    ckan config-tool $CKAN_INI "ckan.datagovuk.s3_aws_access_key_id = $CKAN_AWS_ACCESS_KEY_ID"
    ckan config-tool $CKAN_INI "ckan.datagovuk.s3_aws_secret_access_key = $CKAN_AWS_ACCESS_KEY_SECRET"
    {{- end }}

    # run init script
    /ckan-entrypoint.sh
