apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: datagovuk
  namespace: cluster-services
spec:
  project: datagovuk
  source:
    repoURL: https://github.com/alphagov/govuk-dgu-charts
    path: charts/datagovuk
    targetRevision: HEAD
    helm:
      values: |
        argo_environment: {{ .Values.argo_environment }}
        {{- toYaml .Values.datagovukHelmValues | nindent 8 }}
  destination:
    server: https://kubernetes.default.svc
    namespace: datagovuk
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    - ApplyOutOfSyncOnly=true
