{{- if .Values.solr.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-solr
spec:
  serviceName: "solr"
  selector:
    matchLabels:
      app: {{ .Release.Name }}-solr
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-solr
        app.kubernetes.io/arch: {{ .Values.solr.arch }}
    spec:
      securityContext:
        runAsUser: 8983
        runAsGroup: 8983
        fsGroup: 8983
      {{- if .Values.solr.persistence.enabled }}
      initContainers:
        - name: fix-volume-permissions
          image: '{{ include "docker-uri" (dict "environment" .Values.environment "app" "solr" "files" $.Files) }}'
          command: [ bash, -c, "chown -R solr:solr /var/solr/data"]
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          volumeMounts:
            - name: data
              mountPath: /var/solr/data
      {{- end }}
      containers:
        - name: solr
          image: '{{ include "docker-uri" (dict "environment" .Values.environment "app" "solr" "files" $.Files) }}'
          env:
            {{- with .Values.solr.extraEnv }}
              {{ . | toYaml | nindent 12 }}
            {{- end }}
          ports:
            - name: solr
              containerPort: 8983
          {{- if .Values.solr.persistence.enabled }}
          volumeMounts:
            - name: data
              mountPath: /var/solr/data
          {{- end }}
          startupProbe:
            httpGet:
              path: /solr/ckan/admin/ping
              port: solr
            initialDelaySeconds: 60
            failureThreshold: 60
            periodSeconds: 10
            timeoutSeconds: 60
          readinessProbe:
            httpGet:
              path: /solr/ckan/admin/ping
              port: solr
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /solr/ckan/admin/ping
              port: solr
            initialDelaySeconds: 10
            periodSeconds: 3
          resources:
            requests:
              memory: 1024M
      {{- if .Values.solr.persistence.enabled }}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ .Values.solr.persistence.persistentVolumeClaimName }}
      {{- end }}
      {{- if eq "arm64" .Values.solr.arch }}
      tolerations:
        - key: arch
          operator: Equal
          value: {{ .Values.solr.arch }}
          effect: NoSchedule
      nodeSelector:
        kubernetes.io/arch: {{ .Values.solr.arch }}
      {{- end }}
{{- end }}
