name: linting
on: [push]
jobs:
  chart-testing:
    name: Chart testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Helm template
        run: |
          mkdir helm-dist
          for c in $(ls charts)
          do
            helm template "${c}" "charts/${c}" --output-dir helm-dist
          done

      - name: kubeconform
        uses: docker://ghcr.io/yannh/kubeconform:v0.5.0
        with:
          entrypoint: /kubeconform
          args: >
            -kubernetes-version 1.23.0
            -schema-location default
            -schema-location "https://github.com/alphagov/govuk-helm-charts/raw/main/schemas/{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json"
            -summary
            helm-dist
